#!/bin/bash

LANG=C

useradd {{ user }}
cat /dev/urandom | base64 | head -c 24 | xargs echo | passwd --stdin {{ user }}

mkdir -p /home/{{ user }}/.ssh
chmod 700 /home/{{ user }}/.ssh
echo {{ id_rsa_pub }} > /home/{{ user }}/.ssh/authorized_keys
chmod 600 /home/{{ user }}/.ssh/authorized_keys
chown -R {{ user }} /home/{{ user }}/.ssh

systemctl restart sshd
