[Unit]
Description=tttls1.3 https server daemon

[Service]
ExecStart={{ rbenv_directory }}/shims/ruby {{ https_server_directory }}/server.rb 443
ExecStop=/bin/kill -s QUIT $MAINPID
WorkingDirectory={{ https_server_directory }}
Restart=always
Type=simple

User=tttls1.3_https
Group=wheel
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH

[Install]
WantedBy=multi-user.target
